/* 
    - All CSS classes have the prefix with 'chtBot_' denoting that they pertain solely to the Chat Dialog Window
    - CSS is implemented Atomically to reduce complexity (https://css-tricks.com/lets-define-exactly-atomic-css/)
*/

/* Lines 4-47 create the ellipsis animation when the Bot is thinking/working/REST calls are happening */
@-webkit-keyframes chtBot_kyFrm_blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@keyframes chtBot_kyFrm_blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.chtBot_bgClr--white {
    background-color: #FFFFFF;
}

.chtBot_bgClr--lghtCyan {
    background-color: #00bcd482;
}

.chtBot_bgClr--lghtBlue {
    background-color: #C2E5FF;
}

.chtBot_bottom-10--right-10 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.chtBot_fxd--btm-15px_rgt-15px {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.chtBot_brdr--none {
    border: none;
}

.chtBot_brdrAll--1px {
    border-width: 1px;
}

.chtBot_brdrClr--lghtGray {
    border-color: #cccccc;
}

.chtBot_brdrRdAll--3px {
    border-radius: 3px;
}

.chtBot_brdrRdAll--10px {
    border-radius: 10px;
}

.chtBot_brdrRdTpLft--10px {
    border-top-left-radius: 10px;
}

.chtBot_brdrRdTpRght--10px {
    border-top-right-radius: 10px;
}

.chtBot_brdrRdBtmLft--10px {
    border-bottom-left-radius: 10px;
}

.chtBot_brdrRdBtmRght--10px {
    border-bottom-right-radius: 10px;
}

.chtBot_brdrRdTpLft--15px {
    border-top-left-radius: 15px;
}

.chtBot_brdrRdTpRght--15px {
    border-top-right-radius: 15px;
}

.chtBot_brdrRdBtmRght--15px {
    border-bottom-right-radius: 15px;
}

.chtBot_brdrRdBtmLft--15px {
    border-bottom-left-radius: 15px;
}

.chtBot_brdrStyl--solid {
    border-style: solid;
}

.chtBot_brdrBtm--1px {
    border-width: 0 0 1px 0;
}

.chtBot_brdrTp--1px {
    border-width: 1px 0 0 0;
}

.chtBot_crsr--pointr {
    cursor: pointer;
}

.chtBot_dsply--block {
    display: block;
}

.chtBot_dsply--in-block {
    display: inline-block;
}

.chtBot_flt--left {
    float: left;
}

.chtBot_flt--right {
    float: right;
}

.chtBot_fntFm--sanSer {
    font-family: sans-serif, Arial;
}

.chtBot_fntSz--9px {
    font-size: 9px;
}

.chtBot_fntSz--12px {
    font-size: 12px;
}

.chtBot_fntSz--18px {
    font-size: 18px;
}

.chtBot_hght--50px {
    height: 50px;
}

.chtBot_hght--110px {
    height: 110px;
}

.chtBot_hght--120px {
    height: 120px;
}

.chtBot_hght--275px {
    height: 275px;
}

.chtBot_hght--568px {
    height: 568px;
}

.chtBot_hght--100per {
    height: 100%;
}

.chtBot_lineHght--1pt5 {
    line-height: 1.5;
}

.chtBot_mrgnAll--2per {
    margin: 2%;
}

.chtBot_mrgnAll--3px {
    margin: 3px;
}

.chtBot_mrgnAll--3per {
    margin: 3%;
}

.chtBot_mrgLft--25per {
    margin-left: 25%;
}

.chtBot_mrgnRght--4per {
    margin-right: 4%;
}

.chtBot_mrgnRght--25per {
    margin-right: 25%;
}

.chtBot_mrgnTp--30px {
    margin-top: 30px !important;
}

.chtBot_mrgnTp--130px {
    margin-top: 130px !important;
}

.chtBot_mxWdth--85per {
    max-width: 85%;
}

.chtBot_mxWdth--100per {
    max-width: 100%;
    width: auto;
}

.chtBot_ovrflwWrap--break {
    overflow-wrap: break-word;
}

.chtBot_ovrflwY--scroll {
    overflow-y: scroll;
}

.chtBot_pddAll--0 {
    padding: 0;
}

.chtBot_pddTp--20px {
    padding-top: 20px;
}

.chtBot_pddAll--2per {
    padding: 2%;
}

.chtBot_pddAll--5px {
    padding: 5px;
}

.chtBot_pddAll--15px {
    padding: 15px;
}

.chtBot_pddLft--15px {
    padding-left: 15px;
}

.chtBot_pddRgt--15px {
    padding-right: 15px;
}

.chtBot_pddTp--10px {
    padding-top: 10px;
}

.chtBot_pddBtm--5px {
    padding-bottom: 5px;
}

.chtBot_resz--none {
    resize: none;
}

.chtBot_right--10px {
    position: absolute;
    right: 10px;
}

.chtBot_txtAlgn--center {
    text-align: center;
}

.chtBot_txtAlgn--left {
    text-align: left;
}

.chtBot_txtAlgn--right {
    text-align: right;
}

.chtBot_txtClr--gray {
    color: #aeaeae;
}

.chtBot_txtClr--black {
    color: #000000;
}

.chtBot_txtClr--blue {
    color: #3a87d1;
}

.chtBot_txtClr--white {
    color: #FFFFFF;
}

.chtBot_top--0 {
    position: absolute;
    top: 0;
}

.chtBot_top--10px {
    position: absolute;
    top: 10px;
}

.chtBot_wdth--50px {
    width: 50px;
}

.chtBot_wdth--90px {
    width: 90px;
}

.chtBot_wdth--310px {
    width: 310px;
}

.chtBot_wdth--400px {
    width: 400px;
}

.chtBot_wdth--90per {
    width: 90%;
}

.chtBot_wdth--100per {
    width: 100%;
}

.chtBot_boxShdw--blue {
    box-shadow: 0 2px 40px 0 rgba(43, 132, 210, 0.41);
}

.chtBot_closeBtn {
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
}

.chtBot_closeBtn:hover::before, .chtBot_closeBtn:hover::after {
    background: blue;
}

.chtBot_closeBtn::before, .chtBot_closeBtn::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    background: #5e5e5e;
}

.chtBot_closeBtn::before {
    transform: rotate(45deg);
}

.chtBot_closeBtn::after {
    transform: rotate(-45deg);
}

.chtBot_txtArea_noGlow {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.talkbubble {
    width: 80px;
    height: 80px;
    background: #3a87d1;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.talkbubble:before {
    content: "";
    position: absolute;
    left: 75%;
    top: 60px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid #3a87d1;
    border-bottom: 13px solid transparent;
    transform: rotate(45deg);
}


.chtBot_anim8--type span {
    -webkit-animation-name: chtBot_kyFrm_blink;
    animation-name: chtBot_kyFrm_blink;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.chtBot_anim8--type span:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.chtBot_anim8--type span:nth-child(3) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
